//== Cards
//
//##

$card-bg:                    #fff !default;
$card-body-padding:          15px !default;
$card-heading-padding:       10px 15px !default;
$card-footer-padding:        $card-heading-padding !default;
$card-border:                #ddd !default;
$card-border-radius:         $border-radius-base !default;

//** Border color for elements within cards
$card-inner-border:          #ddd !default;

$card-default-text:          $gray-dark !default;
$card-default-border:        #ddd !default;
$card-default-heading-bg:    #f5f5f5 !default;
$card-default-footer-bg:     #f5f5f5 !default;

$card-primary-text:          #fff !default;
$card-primary-border:        $brand-primary !default;
$card-primary-heading-bg:    $brand-primary !default;
$card-primary-footer-bg:     $brand-primary !default;

$card-success-text:          $state-success-text !default;
$card-success-border:        $state-success-border !default;
$card-success-heading-bg:    $state-success-bg !default;
$card-success-footer-bg:     $state-success-bg !default;

$card-info-text:             $state-info-text !default;
$card-info-border:           $state-info-border !default;
$card-info-heading-bg:       $state-info-bg !default;
$card-info-footer-bg:        $state-info-bg !default;

$card-warning-text:          $state-warning-text !default;
$card-warning-border:        $state-warning-border !default;
$card-warning-heading-bg:    $state-warning-bg !default;
$card-warning-footer-bg:     $state-warning-bg !default;

$card-danger-text:           $state-danger-text !default;
$card-danger-border:         $state-danger-border !default;
$card-danger-heading-bg:     $state-danger-bg !default;
$card-danger-footer-bg:      $state-danger-bg !default;
